   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }

   html,
   body {
       height: 100%;
       width: 100%;
       background-color: #313131;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   #main{
    display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       gap:2vh;
   }

   #canvas {
       box-shadow: -3px 2px 9px 6px black;
   }

   #panal {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 1vw;
   }

   .color_fild {
       width: 40px;
       height: 40px;
       border-radius: 50%;
   }

   button {
       height: 40px;
       border: 2px solid white;
       width: 80px;
       background-color: transparent;
       color: white;
   }